<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dealvago - Admin Dashboard</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>
<h2>Dealvago - Admin Dashboard</h2>
    <p>
        <a th:href="@{/admin(view='products')}">Manage Products</a>
        &nbsp;|&nbsp;
        <a th:href="@{/admin(view='orders')}">View Orders</a>
    </p>

<div th:if="${view} == 'products'">
    <hr/>
    <h3>Manage Products</h3>

    <h4>Add new product</h4>
    <form method="post" action="/admin/products/add">
        <label>Name: <input type="text" name="name" /></label><br/>
        <label>Price: <input type="number" name="unitPrice" /></label><br/>
        <label>Stock: <input type="number" name="stock" /></label><br/>
        <button type="submit">Add Product</button>
    </form>

    <h4>Available products</h4>
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.unitPrice}">Price</td>
            <td th:text="${product.stock}">Stock</td>
            <td>
                <form method="post" action="/admin/products/update">
                    <input type="hidden" name="productId" th:value="${product.id}" />
                    <select name="quantity">
                        <option th:each="i : ${#numbers.sequence(1, 10)}"
                                th:value="${i}"
                                th:text="${i}">1</option>
                    </select>
                    <button type="submit">Add to Stock</button>
                </form>
            </td>
        </tr>
    </table>

</div>

<div th:if="${view} == 'orders'">
    <h3>Manage Orders</h3>
    <hr/>

    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Order Date</th>
            <th>Status</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">Order Id</td>
            <td th:text="${order.customer.username}">Customer</td>
            <td th:text="${order.orderDate}">Order Date</td>
            <td th:text="${order.orderStatus}">Status</td>
            <td>
                <form method="get" action="/admin/orders/view">
                    <input type="hidden" name="orderId" th:value="${order.id}" />
                    <button type="submit">View Order</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>