<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dealvago - shop now and regret later!</title>
</head>
<body>
  <h2>Welcome to Dealvago! </h2>

  <h3>Products</h3>
  <table>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.unitPrice}">Price</td>
        <td th:text="${product.stock}">Stock</td>
    </tr>
  </table>

<!--

<form method="post" action="/customerform">
  <input name="city" type="text" size="14" value=""/>
  <input name="submit" type="submit" value="Enter"/>
</form>

<p>The country is: </p>
<p th:text="${cityname}"/>

-->

</body>
</html>