<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dealvago - shop now and regret later!</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>
<h2>Welcome to Dealvago! </h2>
<p>Login to your account: </p>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="Name"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>

<p th:text="${loginmessage}" style="color: red"></p>

<hr/>

<p>Register a new account: </p>
<form method="post" action="/register">
    <input type="text" name="username" placeholder="Name"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="text" name="email" placeholder="Email"/>
    <button type="submit">Register</button>
</form>

<p th:text="${registermessage}" style="color: red"></p>

</body>
</html>